h2{
    color: chocolate;
}
span{
    color: sienna;
}
.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}
#pets{
    display: flex;
    justify-content: space-evenly;
} 
img{
    width: 100%;
    border-radius: 20px;
}
h4{
    text-align: center;
    color: #3c787e;
}
@media (max-width: 375px) {
    #pets{
        flex-wrap: wrap;
    }
}