*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
     background: linear-gradient(to right, #afd1ee, #6ed9fa );
}
.intro{
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    font-weight: bold;
}
.about{
    /* width: 100vh; */
    width: 600px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}
img{
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgb(77, 101, 169);
}  
.skills{
    display: block;
    width: 600px;
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
    
} 
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgb(77, 101, 169);
}
button:hover{
    box-shadow: 2px 2px 10px rgb(77, 101, 169);
    transform: scale(1.01);
    transition: ease-out 0.3s;
}
.skills:hover{
    box-shadow: 2px 2px 10px rgb(77, 101, 169);
    transform: scale(1.01);
    transition: ease-out 0.3s;
}
.about:hover{
    box-shadow: 2px 2px 10px rgb(77, 101, 169);
    transform: scale(1.01);
    transition: ease-out 0.3s;
}