*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #1b4965;
}

.logo{
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a{
  color: white;
  text-decoration: none;
}

/* BUTTON */
.btn-primary{
  background-color: #3b82f6;
  padding: 8px 16px;
  border-radius: 6px;
}

.btn-primary:hover{
  background-color: #2563eb;
}

/* HERO */
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #caf0f8;
}

.hero-text h1{
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text p{
  margin-bottom: 20px;
}

.hero-text a{
    text-decoration: none;
    color: white;
}

.hero-img img{
  width: 400px;
}

/* FEATURES */
.features{
  padding: 60px 40px;
  text-align: center;
  background-color: #e0f7fa;
}

.features-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.feature-card{
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.feature-card i{
  font-size: 30px;
  margin-bottom: 10px;
}

.feature-card:hover{
  transform: translateY(-8px);
}

/* PRICING */
.pricing{
  padding: 60px 40px;
  text-align: center;
  background-color: #e0f7fa;
}

.pricing-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card{
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
}

.card button{
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 6px;
}

.highlight{
  background-color: #3b82f6;
  color: white;
}

.highlight button{
  background: white;
  color: #3b82f6;
}

/* FOOTER */
footer{
  background-color: #1b4965;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-links{
  margin-bottom: 10px;
}

.footer-links a{
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
